{% extends 'base.html' %}



{% block body_block %}
   <div class="page-header">
    <h1>Profiles</h1>
   </div>
   <div>
     <div>
        {% for user in users %}
           <div class="page-header">
              <h3>{{ user.username }}</h3>
                {% if user.userprofile.picture %}
                 <img class="img-responsive" src="/media/{{user.userprofile.picture}}" alt="user picutre"/>
                {% else %}
                  <p>no picture available</p>
                 {% endif %}
               <p>{{user.email}}<p>
             <p>Website: <a href="{{user.userprofile.website}}">{{user.userprofile.website}}</a></p>
          </div>
       {% endfor %}
     </div>
{% endblock %}